<%= form_for(@member) do |f| %>
  <% if @member.errors.any? %>
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>There were some errors with the form:</strong> <%= @member.errors.full_messages.map(&:downcase).to_sentence %>.
    </div>
  <% end %>

  <div class="row-fluid">
    <div class="span3">
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
      <%= f.label :email %>
      <%= f.text_field :email %>
      <br />
      <br />
      <%= f.label :email_allowed, class: "checkbox" do %>
        <%= f.check_box :email_allowed %> Email allowed?
      <% end %>
    </div>
    <div class="span3">
      <%= f.label :address %>
      <%= f.text_field :address_one %>
      <%= f.text_field :address_two %>
      <%= f.text_field :address_three %>
      <%= f.label :postcode %>
      <%= f.text_field :postcode %>
    </div>
    <div class="span6">
      <%= f.label :notes %>
      <%= f.text_area :notes %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
    <%= link_to "Cancel", '/', class: "btn" %>
  </div>
</div>
<% end %>
