<h1>
  Expired Members
  <%= link_to expired_members_path(format: :text), target: '_blank' do %>
    <i class="icon-print"></i>
  <% end %>
  <%= link_to expired_members_path(format: :csv) do %>
    <i class="icon-download-alt"></i>
  <% end %>
</h1>

<%= paginate @members %>

<%= form_tag bulk_action_members_path do %>
  <%= render 'table' %>
  <div class="actions">
    <%= submit_tag 'Delete Selected', name: 'delete-selected', class: 'btn btn-danger' %>
    <%= submit_tag 'Renew Selected', name: 'renew-selected', class: 'btn btn-primary' %>
  </div>
<% end %>

<div class="pull-right">
  <%= paginate @members %>
</div>
