<h1>Members</h1>


<table class="table table-striped table-bordered">

  <col width="10%" />
  <col width="30%" />
  <col width="30%" />
  <col width="30%" />

  <thead>
    <tr>
      <th>No.</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th></th>
    </tr>
  </thead>

  <% @members.each do |member| %>
    <tr>
      <td><%= member.membership_number %></td>
      <td><%= member.full_name %></td>
      <td><%= member.email %></td>
      <td><%= member.phone %></td>
      <td class="actions">
        <%= link_to member do %>
          <i class="icon-eye-open"></i>
        <% end %>
        <%= link_to edit_member_path(member) do %>
          <i class="icon-pencil"></i>
        <% end %>
        <%= link_to member, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <i class="icon-trash"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
