<h1>Pending Registrations</h1>

<%= paginate @members %>
<%= form_tag bulk_action_members_path do %>
  <table class="table table-striped table-bordered">

    <col />
    <col width="10%" />
    <col width="30%" />
    <col />
    <col width="30%" />
    <col width="30%" />
    <col />

    <thead>
      <tr>
        <th></th>
        <th>No.</th>
        <th>Name</th>
        <th>Status</th>
        <th>Email</th>
        <th>Phone</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render @members %>
    </tbody>
  </table>
  <div class="actions">
    <%= submit_tag 'Delete Selected', name: 'delete-selected', class: 'btn btn-danger' %>
    <%= submit_tag 'Complete Registration', name: 'complete-registration', class: 'btn btn-primary' %>
  </div>
<% end %>
<div class="pull-right">
  <%= paginate @members %>
</div>
