<!DOCTYPE html>
<html lang="en">
  <head>
    <%= stylesheet_link_tag "application", :media => "all" %>
  </head>
  <body>
    <div style="width: 500px">
      <%= form_for(@member, url: join_members_path) do |f| %>
        <% if @member.errors.any? %>
          <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>There were some errors with the form:</strong> <%= @member.errors.full_messages.map(&:downcase).to_sentence %>.
          </div>
        <% end %>

        <p>
          Please complete this form. All information is required by law- sorry! Membership takes a minimum of 48 hours to take effect. You will be asked to pay your membership fee next time you attend an event (until we have online payment set up). Membership costs £1. Thanks!
        </p>
        <%= f.label :first_name %>
        <%= f.text_field :first_name %>
        <%= f.label :last_name %>
        <%= f.text_field :last_name %>
        <%= f.label :email %>
        <%= f.text_field :email %>
        <br />
        <br />
        <%= f.label :email_allowed, class: "checkbox" do %>
          <%= f.check_box :email_allowed %> Email allowed?
        <% end %>
        <%= f.label :address %>
        <%= f.text_field :address_one %>
        <%= f.text_field :address_two %>
        <%= f.text_field :address_three %>
        <%= f.label :postcode %>
        <%= f.text_field :postcode %>
        <div class="actions">
          <%= f.submit "Register", class: "btn btn-primary", name: 'register' %>
          <%= link_to "Cancel", '/', class: "btn" %>
        </div>
      <% end %>
      <%= javascript_include_tag "application" %>
    </div>
  </body>
</html>
