<h1>Member Details</h1>
<div class="row-fluid">
  <div class="span6">
    <table class="table table-bordered table-striped">
      <col width="30%" />
      <col width="70%" />
      <col />
      <tr>
        <td>
          <strong>Membership No.</strong>
        </td>
        <td>
          <%= @member.no %>
        </td>
        <td class="actions">
          <span class="pull-right">
            <%= link_to edit_member_path(@member) do %>
              <i class="icon-pencil"></i>
            <% end %>
            <%= link_to @member, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <i class="icon-trash"></i>
            <% end %>
          </span>
        </td>
      </tr>
      <tr>
        <td>
          <strong>Name</strong>
        </td>
        <td colspan=2>
          <%= @member.full_name %>
        </td>
      </tr>
      <tr>
        <td>
          <strong>Email</strong>
        </td>
        <td colspan=2>
          <%= @member.email %>
        </td>
      </tr>
      <tr>
        <td>
          <strong>Address</strong>
        </td>
        <td colspan=2>
          <% @member.address.each do |line| %>
            <%= line %><br />
          <% end %>
        </td>
      </tr>
      <tr>
        <td>
          <strong>Email allowed?</strong>
        </td>
        <td colspan=2>
          <%= @member.email_allowed ? "yes" : "no" %>
        </td>
      </tr>
    </table>
  </div>
  <div class="span6">
    <% if @member.notes.present? %>
      <p class="notes">
        <%= @member.notes %>
      </p>
    <% end %>
    <table class="table table-bordered table-striped">
      <thead>
        <tr><th>Membership Status: <%= membership_status @member %></th></tr>
      </thead>
      <tbody>
        <% @member.memberships.reverse.each do |membership| %>
          <tr>
            <td>
              <strong><%= membership.year %></strong>
              <em>(registered on <%= membership.created_at.strftime("%d-%m-%Y") %>)</em>
              <%= link_to [@member, membership], method: :delete, data: { confirm: 'Delete membership. Are you sure?' } do %>
                <i class="icon-trash"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
        <% unless @member.current? %>
          <tr>
            <td class="actions">
              <%= member_actions @member %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
